In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(10, size=(5,6)), columns=list("ABCDEF"))
df

   A  B  C  D  E  F
0  7  4  1  4  2  7
1  7  5  4  1  4  5
2  7  1  1  9  3  8
3  6  8  2  8  1  0
4  1  8  4  1  3  6

# EXAMPLE 1

In [2]:
df.query("A > 4")

   A  B  C  D  E  F
0  7  4  1  4  2  7
1  7  5  4  1  4  5
2  7  1  1  9  3  8
3  6  8  2  8  1  0

In [3]:
df[df['A']>4]

   A  B  C  D  E  F
0  7  4  1  4  2  7
1  7  5  4  1  4  5
2  7  1  1  9  3  8
3  6  8  2  8  1  0

# EXAMPLE 2

In [4]:
df.query("A > 4 and E == 1")

   A  B  C  D  E  F
3  6  8  2  8  1  0

In [5]:
df[(df['A']>4) & (df['E']==1)]

   A  B  C  D  E  F
3  6  8  2  8  1  0

# EXAMPLE 3

In [6]:
df.query("A > 2 or F > 4")

   A  B  C  D  E  F
0  7  4  1  4  2  7
1  7  5  4  1  4  5
2  7  1  1  9  3  8
3  6  8  2  8  1  0
4  1  8  4  1  3  6

In [7]:
df[(df['A']>2) | (df['F']>4)]

   A  B  C  D  E  F
0  7  4  1  4  2  7
1  7  5  4  1  4  5
2  7  1  1  9  3  8
3  6  8  2  8  1  0
4  1  8  4  1  3  6

# EXAMPLE 4

In [8]:
df.query("not (A > 2 or F > 4)")

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

In [9]:
df[~((df['A']>2) | (df['F']>4))]

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

# EXAMPLE 5

In [10]:
df.query("A*2 < 5")

   A  B  C  D  E  F
4  1  8  4  1  3  6

In [11]:
df[df['A']*2<5]

   A  B  C  D  E  F
4  1  8  4  1  3  6

# EXAMPLE 6

In [12]:
df.F = -1 * df.F # convertig F column to negayive values

In [13]:
df.query("abs(F) > 5")

   A  B  C  D  E  F
0  7  4  1  4  2 -7
2  7  1  1  9  3 -8
4  1  8  4  1  3 -6

In [14]:
df[df['F'].apply(abs)>5]

   A  B  C  D  E  F
0  7  4  1  4  2 -7
2  7  1  1  9  3 -8
4  1  8  4  1  3 -6

# EXAMPLE 7

In [15]:
df.query("sqrt(A) > 2")

   A  B  C  D  E  F
0  7  4  1  4  2 -7
1  7  5  4  1  4 -5
2  7  1  1  9  3 -8
3  6  8  2  8  1  0

In [16]:
df[df['A'].apply(np.sqrt)>2]

   A  B  C  D  E  F
0  7  4  1  4  2 -7
1  7  5  4  1  4 -5
2  7  1  1  9  3 -8
3  6  8  2  8  1  0

# EXAMPLE 8

In [17]:
df["G"] = ["John", "Jane", "Ashley", "Luke", "Michael"] # adding string column to the data frame
df.query("G > 'Jo'")

   A  B  C  D  E  F        G
0  7  4  1  4  2 -7     John
3  6  8  2  8  1  0     Luke
4  1  8  4  1  3 -6  Michael

In [18]:
df[df['G']>'Jo']

   A  B  C  D  E  F        G
0  7  4  1  4  2 -7     John
3  6  8  2  8  1  0     Luke
4  1  8  4  1  3 -6  Michael

# EXAMPLE 9

In [19]:
df["Date"] = pd.date_range(start="2021-04-05", periods=5, freq="M") # adding datetime column to the function
df

   A  B  C  D  E  F        G       Date
0  7  4  1  4  2 -7     John 2021-04-30
1  7  5  4  1  4 -5     Jane 2021-05-31
2  7  1  1  9  3 -8   Ashley 2021-06-30
3  6  8  2  8  1  0     Luke 2021-07-31
4  1  8  4  1  3 -6  Michael 2021-08-31

In [20]:
df.query("Date.dt.month > 6")

   A  B  C  D  E  F        G       Date
3  6  8  2  8  1  0     Luke 2021-07-31
4  1  8  4  1  3 -6  Michael 2021-08-31

In [21]:
df[df['Date'].dt.month>6]

   A  B  C  D  E  F        G       Date
3  6  8  2  8  1  0     Luke 2021-07-31
4  1  8  4  1  3 -6  Michael 2021-08-31

# EXAMPLE 10

In [22]:
df.query("A + B < C")

Empty DataFrame
Columns: [A, B, C, D, E, F, G, Date]
Index: []

In [23]:
df[df['A']+df['B']<df['C']]

Empty DataFrame
Columns: [A, B, C, D, E, F, G, Date]
Index: []

# Through all the above examples, we saw that we can use Masking instead of query