In [1]:
import pandas as pd

In [2]:
# Make mixed test dataframe
df=pd.util.testing.makeMixedDataFrame()  # after (.make) you can hit tab to see other variation of creating a datafram
df

/opt/conda/lib/python3.7/site-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [3]:
#groupby
# df.grooupby ( ['column_name1', 'column_name2'], as_index=False)['column_name3','column_name4'].agg(['function1','function2'])
df.groupby(['A'], as_index=False)['B'].agg(['mean','min'])

     mean  min
A
0.0   0.0  0.0
1.0   1.0  1.0
2.0   0.0  0.0
3.0   1.0  1.0
4.0   0.0  0.0

In [4]:
# Calling only numeric values in a dataframe
df[df.describe().columns] # 1st method

df[df.dtypes[df.dtypes!='object'].index] # second method with the same results

     A    B          D
0  0.0  0.0 2009-01-01
1  1.0  1.0 2009-01-02
2  2.0  0.0 2009-01-05
3  3.0  1.0 2009-01-06
4  4.0  0.0 2009-01-07

In [5]:
# calling only non numeric values in a dataframe 
df[df.dtypes[df.dtypes=='object'].index] # 1st method

df[df.drop(df.describe().columns,axis=1).columns] # second method with the same results

      C          D
0  foo1 2009-01-01
1  foo2 2009-01-02
2  foo3 2009-01-05
3  foo4 2009-01-06
4  foo5 2009-01-07

In [6]:
# differene between .any() & .all() 
df2 = pd.DataFrame()
df2['x'] = [1,2,3]
df2['y'] = [3,4,5]
print(df2)
print(df2<2.5)
print((df2< 2.5).all(axis = 1))
print((df2 < 2.5).any(axis = 1))

   x  y
0  1  3
1  2  4
2  3  5
       x      y
0   True  False
1   True  False
2  False  False
0    False
1    False
2    False
dtype: bool
0     True
1     True
2    False
dtype: bool

In [7]:
# using in operator with dataframe

df['A'].isin([1,2,4,6]) # df[column].isin(list-like)

0    False
1     True
2     True
3    False
4     True
Name: A, dtype: bool

In [8]:
# Keep only columns where 65% or more valid data is available, drop the rest 
df.dropna(axis='columns', how='any', thresh=df.shape[0]*0.65, inplace=True)

In [9]:
# check data type of specefic column for each cell in pandas
df=pd.util.testing.makeMixedDataFrame()
df['A'].apply(type)

0    <class 'float'>
1    <class 'float'>
2    <class 'float'>
3    <class 'float'>
4    <class 'float'>
Name: A, dtype: object

In [10]:
# to know each data type of specefic column
df['B'].apply(type).value_counts()

<class 'float'>    5
Name: B, dtype: int64

In [11]:
# to search for data type in specefic column that is not a certain type
df['A'].apply(type)!= str

0    True
1    True
2    True
3    True
4    True
Name: A, dtype: bool

In [12]:
# interpolation can be for dataframe or series :
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html
# https://pandas.pydata.org/docs/reference/api/pandas.Series.interpolate.html
df=pd.util.testing.makeMissingDataframe()
df['B']=df['B'].interpolate()

In [13]:
# apply function to multiple columns:
df=pd.util.testing.makeDataFrame()
# df[new_column]=df.apply(lambda x : function(x[col1],x[col2],..), axis=1)
def get(x,y,z):
    return (x+y-z)

df['H']=df.apply(lambda x : get(x['A'],x['B'],x['C']), axis=1) # Don't forget to use X not df inside the function
df

                   A         B         C         D         H
1y91f1smEv  1.009456  1.231730  0.744715  0.831173  1.496471
z1UUHhjC32 -1.130069  0.657680 -1.268711 -0.040807  0.796323
SJ1g7LnoGF -0.852362  0.407995 -0.424182  0.138583 -0.020184
jDvrIp8Icd -1.529668  0.633611 -0.230017  0.325149 -0.666040
0Urjh7x9YM  0.654466 -0.190880  0.230631  1.355309  0.232955
pZvEkFFovn -0.139737 -0.208493  0.445703  1.696323 -0.793933
HvAvdn6fxS  0.256827 -0.267134 -0.214078  1.277429  0.203771
hbLiQopdJn  1.296028  0.437021  0.762098 -0.140734  0.970952
clHXw7j4DG  0.343140  0.464132  0.654447  0.260406  0.152825
CcSBJuzmgb  1.037903  0.266871 -1.033515  0.589462  2.338289
7Fj5jcetZt -2.060749  1.014787  0.291978  1.283227 -1.337940
KQxLND8FB6  0.885196 -0.279931 -0.921876  1.127972  1.527141
NP0XhOgGhZ -0.865087  1.409938 -1.959392  0.649030  2.504243
jv37op6nQt  0.705745  0.667755  0.004576  0.394172  1.368924
LWPUXGTHMM  0.926666 -0.103598 -0.443059 -0.814314  1.266127
vLPOAJCAF9 -0.218118  0.733232 -0.317883  0.177578  0.832997
cUclrAxu1b  0.864328 -2.312791  0.316662 -0.118925 -1.765125
NZfkajqXzg  0.556577  1.644392 -0.226862 -0.486590  2.427831
EgAcTO6wRl  0.768829  1.341205  1.727174  0.298385  0.382860
wbXwfMEMLO  1.171791 -0.985890  0.222930 -0.432046 -0.037029
n0oXcnFU0Y -0.172852  0.041407  1.185963  0.603428 -1.317408
lJKGclGroq -1.052659  0.414035  1.434701 -0.488188 -2.073325
7LSNOFWZJ6 -0.091284  1.796569 -0.203058  0.586602  1.908343
iuQkKBdVau  1.017928  1.019792 -1.333021  1.265552  3.370741
rp8JcxvClm  1.522600 -0.350783  0.007212  0.679606  1.164605
WGNIpkBWTe  0.370551 -1.088650  1.694536 -1.008211 -2.412635
E7en5nvIAC -0.822617 -0.329130  1.585712  0.789350 -2.737459
93DRoEL4HJ -0.270586  0.498604 -0.822743 -0.165651  1.050762
gsP1Igzse7  1.017522  0.161439 -0.095337 -0.340675  1.274298
G3WqOFSPjT  1.310452 -0.356945  1.678924  0.051560 -0.725417