<a href="https://www.kaggle.com/code/amsamms/pandas-useful-tricks?scriptVersionId=115672181" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
import pandas as pd

In [ ]:
# Make mixed test dataframe
df=pd.util.testing.makeMixedDataFrame()  # after (.make) you can hit tab to see other variation of creating a datafram
df

In [ ]:
#groupby
# df.grooupby ( ['column_name1', 'column_name2'], as_index=False)['column_name3','column_name4'].agg(['function1','function2'])
df.groupby(['A'], as_index=False)['B'].agg(['mean','min'])


# single groupby
df.groupby('unit').sum() # for summing all data based on groubed by column, sum can be replaced by first or any other function

In [ ]:
# Calling only numeric values in a dataframe
df[df.describe().columns] # 1st method

df[df.dtypes[df.dtypes!='object'].index] # second method with the same results

df.select_dtype(include='number').columns # third method, also execlude can be used, np.number also can be used instead of numbers

In [ ]:
# calling only non numeric values in a dataframe 
df[df.dtypes[df.dtypes=='object'].index] # 1st method

df[df.drop(df.describe().columns,axis=1).columns] # second method with the same results

df.select_dtypes(exclude='number').columns # third method , also include can be used

In [ ]:
# differene between .any() & .all() 
df2 = pd.DataFrame()
df2['x'] = [1,2,3]
df2['y'] = [3,4,5]
print(df2)
print(df2<2.5)
print((df2< 2.5).all(axis = 1))
print((df2 < 2.5).any(axis = 1))

In [ ]:
# using in operator with dataframe

df['A'].isin([1,2,4,6]) # df[column].isin(list-like)

In [ ]:
# Keep only columns where 65% or more valid data is available, drop the rest 
df.dropna(axis='columns', how='any', thresh=df.shape[0]*0.65, inplace=True)

In [ ]:
# check data type of specefic column for each cell in pandas
df=pd.util.testing.makeMixedDataFrame()
df['A'].apply(type)

In [ ]:
# to know each data type of specefic column
df['B'].apply(type).value_counts()

In [ ]:
# to search for data type in specefic column that is not a certain type
df['A'].apply(type)!= str

In [ ]:
# interpolation can be for dataframe or series :
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html
# https://pandas.pydata.org/docs/reference/api/pandas.Series.interpolate.html
df=pd.util.testing.makeMissingDataframe()
df['B']=df['B'].interpolate()

In [ ]:
# apply function to multiple columns:
df=pd.util.testing.makeDataFrame()
# df[new_column]=df.apply(lambda x : function(x[col1],x[col2],..), axis=1)
def get(x,y,z):
    return (x+y-z)

df['H']=df.apply(lambda x : get(x['A'],x['B'],x['C']), axis=1) # Don't forget to use X not df inside the function
df

In [ ]:
#https://towardsdatascience.com/interesting-ways-to-select-pandas-dataframe-columns-b29b82bbfb33#:~:text=Selecting%20columns%20based%20on%20their,Returns%20a%20pandas%20series.&text=Passing%20a%20list%20in%20the,columns%20at%20the%20same%20time.# 
#columns selection

#Selecting a subset of columns found in a list
df[df.columns[df.columns.isin(['alcohol','hue','NON-EXISTANT COLUMN'])]]

#Selecting a subset of columns based on difference of columns
df[df.columns.difference([‘alcohol’,’hue’])]

#Selecting a subset of columns that is not in a list
df[df.columns[~df.columns.isin(['alcohol','hue'])]]

#Selecting columns based on their data type
df.loc[:,(df.dtypes=='float64').values]

#Selecting columns based on their column name containing a substring
df[df.columns.str.contains('combined_feed_x_factor|Dt_|combined_feed_sm3/hr|combined_feed_s.g._@)
                                   
#Selecting columns based on their column name containing a string wildcard
df.loc[:,[True if re.search('flava+',column) else False for column in df.columns]]
                            
#Selecting columns based on how their column name starts
df.loc[:,df.columns.str.startswith('al')]
                                   
#Selecting columns based on how their column name ends
df.loc[:,df.columns.str.endswith('oids')]
                                   
#Selecting columns if all rows meet a condition
df.loc[:,[(df[col] > 14).all() for col in df.columns]]
                           
#Selecting columns if any row of a column meets a condition
df.loc[:,[(df[col] > 14).any() for col in df.columns]]
                                   
#Selecting columns if the average of rows in a column meet a condition
df.loc[:,[(df[col].mean() > 7) for col in df.columns]]

In [ ]:
# Display Nan values in a dataframe

df.loc[df.isna().any(axis=1),df.isna().any(axis=0)]

In [ ]:
# search for specefic  row and column that have a specefic value in the entire data frame :
df.loc[(df.values==86.80).any(axis=1),(df.values==86.80).any(axis=0)]

In [ ]:
# Column orders rearrangements
df = df[['date'] + columns[1:]] #now the date column is the first column

In [ ]:
# set pandas display options
pd.set_option('display.max_columns',300) # for number of displayed columns
pd.set_option('max_colwidth',900) # for width of each column, there is a lot of options in set options


# set pandas display float format
pd.options.display.float_format = '{:,.8f}'.format

In [ ]:
# choosing tenth or hundredth of float column
df['tenth']=df['number'].astype(str).str[1], # the new column is string
df['hundredth']=df['number'].astype(str).str[2], # the new column is sstring

In [ ]:
# dropping

df.drop(['A','B','C'], axis=1, inplac=True) # dropping columns inplace

df.drop(df[df['nan_per_row']>28].index,inplace=True) # dropping some raws with specefic conditions

In [ ]:
# removing duplicated column
#https://sparkbyexamples.com/pandas/pandas-remove-duplicate-columns-from-dataframe/

df2 = df.T.drop_duplicates().T # this method remove duplicated column even if the column name is different

df2 = df.loc[:,~df.columns.duplicated()]# this method removes duplicated column sharing the same name

# join columns sharing the same name
# https://stackoverflow.com/questions/49431864/how-to-join-columns-sharing-the-same-name-within-a-dataframe
df=df.groupby(df.columns, axis=1).first() # first returns first non nan values

# to remove duplicated columns names ( even if they are not the same in values):
#https://stackoverflow.com/questions/14984119/python-pandas-remove-duplicate-columns
df = df.loc[:,~df.columns.duplicated()].copy()


# removing dupliocated index

df = df[~df.index.duplicated(keep="first")]

In [ ]:
# imputation using pandas

# impute numeric columns with mean or median
df[num_cols].fillna(df[num_cols].mean()) # inplace to be true
df[num_cols].fillna(df[num_cols].median()) # inplace to be true

# impute categorical columns
df[cat_cols].fillna(df[cat_cols].mode().iloc[0]) # inplace to be true

In [ ]:
# converting dataframe to numeric values, all other non-numbers will converted to Nan
for column in df.columns:
    df[column]=pd.to_numeric(df[column],errors='coerce')

In [ ]:
# Concat & Merge
# Concat is putting dataframes beside eachother regardless of index or anything
# Merging is putting dataframes beside eachother having common index, or column as a reference
pd.concat([df1, df2])) # concat horizontally ( df2 below df1)
pd.concat([df1,df2],axis=1) # concat vertically (df2 on the rightside of df1)
#Concated dataframes needs to have single indexing
#if concate herozontally ( axis=0) make sure columns of dataframe is not duplicated
#if concate vertically ( axis=1) make sure index of dataframe is not duplicated



df1.merge(df2, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False) 
# merging on index the last two arguments should be true
# if there is a common column use argument 'on'
# if two columns have the same values but different names use "left_on" and "right_on"
# use argument how, if 'inner': merge on common data only in the common column, 'outer': merge all and non common will be none

## ORANGE3

In [ ]:
import pandas as pd
import numpy as np
from Orange.data import table,domain
from Orange.data.pandas_compat import table_from_frame
from Orange.data.pandas_compat import table_to_frame 
#in_data, out_data
#in_data.domain : columns of in_data
#in_data.X  : X features of in_data
#in_data.Y  :y target of in_data


df_1=table_to_frame(in_data)
print(df_1)
#print(in_data.domain)
#df=pd.DataFrame({'A':[1,2,3],'B':[3,3,3],'C':[4,4,4]})
out_data = table_from_frame(df_1)

In [ ]:
import pandas as pd
import numpy as np
from Orange.data import table,domain
from Orange.data.pandas_compat import table_from_frame
from Orange.data.pandas_compat import table_to_frame
import scipy.stats as stats
#in_data, out_data
#in_data.domain : columns of in_data
#in_data.X  : X features of in_data
#in_data.Y  :y target of in_data
df=table_to_frame(in_data)
def df_without_outliers (data,a=4):
    '''
    This function remove rows that contains any outliers larger than a value ( default a=4), a represents standard deviation
    
    - inputs : dataframe and a ( number of standard deviations)
    - syntax : odf_without_outliers(df,a=4)
    - output : columns that have the outliers > a* standard deviation of that column
    '''
    df=data.copy()    
    z_scores = stats.zscore(df[df.describe().columns],nan_policy='omit')
    z_scores.fillna(0,inplace=True)   # in case one column is filled with nan values
    abs_z_scores = np.abs(z_scores)
    filtered_entries = (abs_z_scores < a).all(axis=1)
    df_without_outliers = df[filtered_entries]
    return df_without_outliers

#print(in_data.domain)
#df=pd.DataFrame({'A':[1,2,3],'B':[3,3,3],'C':[4,4,4]})
out_data = table_from_frame(df_without_outliers(df))