In [1]:
import pandas as pd

In [2]:
# Make mixed test dataframe
df=pd.util.testing.makeMixedDataFrame()  # after (.make) you can hit tab to see other variation of creating a datafram
df

/opt/conda/lib/python3.7/site-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [3]:
#groupby
# df.grooupby ( ['column_name1', 'column_name2'], as_index=False)['column_name3','column_name4'].agg(['function1','function2'])
df.groupby(['A'], as_index=False)['B'].agg(['mean','min'])

     mean  min
A
0.0   0.0  0.0
1.0   1.0  1.0
2.0   0.0  0.0
3.0   1.0  1.0
4.0   0.0  0.0

In [4]:
# Calling only numeric values in a dataframe
df[df.describe().columns] # 1st method

df[df.dtypes[df.dtypes!='object'].index] # second method with the same results

     A    B          D
0  0.0  0.0 2009-01-01
1  1.0  1.0 2009-01-02
2  2.0  0.0 2009-01-05
3  3.0  1.0 2009-01-06
4  4.0  0.0 2009-01-07

In [5]:
# calling only non numeric values in a dataframe 
df[df.dtypes[df.dtypes=='object'].index] # 1st method

df[df.drop(df.describe().columns,axis=1).columns] # second method with the same results

      C          D
0  foo1 2009-01-01
1  foo2 2009-01-02
2  foo3 2009-01-05
3  foo4 2009-01-06
4  foo5 2009-01-07

In [6]:
# differene between .any() & .all() 
df2 = pd.DataFrame()
df2['x'] = [1,2,3]
df2['y'] = [3,4,5]
print(df2)
print(df2<2.5)
print((df2< 2.5).all(axis = 1))
print((df2 < 2.5).any(axis = 1))

   x  y
0  1  3
1  2  4
2  3  5
       x      y
0   True  False
1   True  False
2  False  False
0    False
1    False
2    False
dtype: bool
0     True
1     True
2    False
dtype: bool

In [7]:
# using in operator with dataframe

df['A'].isin([1,2,4,6]) # df[column].isin(list-like)

0    False
1     True
2     True
3    False
4     True
Name: A, dtype: bool

In [8]:
# Keep only columns where 65% or more valid data is available, drop the rest 
df.dropna(axis='columns', how='any', thresh=df.shape[0]*0.65, inplace=True)

In [9]:
# check data type of specefic column for each cell in pandas
df=pd.util.testing.makeMixedDataFrame()
df['A'].apply(type)

0    <class 'float'>
1    <class 'float'>
2    <class 'float'>
3    <class 'float'>
4    <class 'float'>
Name: A, dtype: object

In [10]:
# to know each data type of specefic column
df['B'].apply(type).value_counts()

<class 'float'>    5
Name: B, dtype: int64

In [11]:
# to search for data type in specefic column that is not a certain type
df['A'].apply(type)!= str

0    True
1    True
2    True
3    True
4    True
Name: A, dtype: bool

In [12]:
# interpolation can be for dataframe or series :
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html
# https://pandas.pydata.org/docs/reference/api/pandas.Series.interpolate.html
df=pd.util.testing.makeMissingDataframe()
df['B']=df['B'].interpolate()